<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <div class="logo-section">
      <mat-icon class="coffee-logo">balance</mat-icon>
      <h2>Peso Cabal</h2>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Home</span>
      </a>

      <a mat-list-item routerLink="/cuentas">
        <mat-icon matListItemIcon>account_balance</mat-icon>
        <span matListItemTitle>Cuentas</span>
      </a>

      <a mat-list-item routerLink="/lectura-qr">
        <mat-icon matListItemIcon>qr_code_scanner</mat-icon>
        <span matListItemTitle>Lectura QR</span>
      </a>
    </mat-nav-list>

    <div class="logout-wrapper">
      <button mat-button class="logout-btn" (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon> Log out
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content class="app-container">
    <header class="header">
      <div class="top-row">
        <button mat-icon-button (click)="drawer.toggle()" class="menu-toggle">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="brand-text">
          <h1>Panel de Control</h1>
          <p>Módulo de pesaje.</p>
        </div>
      </div>
    </header>

    <main class="product-layout">
      <!-- Tarjetas dinámicas -->
      <mat-card class="coffee-card" *ngFor="let p of productos">
        <div class="image-wrapper">
          <mat-icon class="card-icon">{{p.icon}}</mat-icon>
        </div>
        <mat-card-content>
          <div class="info">
            <h2>{{p.nombre}}</h2>
          </div>
          <div class="card-footer">
            <button mat-button class="go-btn" [routerLink]="p.route">
              Gestionar
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
